.fs-24{
    font-size: 24px;
}

.fs-30{
    font-size: 30px;
}

.p{
    list-style: inside;
}

.center{
    text-align: center;
}

.left{
    text-align: left;
}

h1{
    font-size: 30px;
}

h2{
    font-size: 24px;
}